<template>
  <v-scale-transition>
    <v-container>
      <h1>{{ msg }}</h1>
    </v-container>
  </v-scale-transition>
</template>

<script>
export default {
  name: 'about',
  metaInfo: {
    title: 'About'
  },
  data () {
    return {
      msg: 'O mnie'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
