<template>
  <v-scale-transition>
    <v-container>
      <h1>{{ msg }} {{ currentUser.email }}</h1>
      <v-layout row wrap>
        <v-text-field
          v-model="newitem.name"
          label="Add an item"
        />
        <v-btn
          @click="addItem"
        >
          Add item
        </v-btn>
      </v-layout>
      <v-list
        class="grey lighten-5"
      >
        <template
          v-for="item in items"
        >
          <v-list-tile
            :key="item['.key']"
          >
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.name }}
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon @click="removeItem(item)">delete</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider />
        </template>
      </v-list>
    </v-container>
  </v-scale-transition>
</template>

<script>
export default {
  name: 'account',
  metaInfo: {
    title: 'Account'
  },
  data () {
    return {
      msg: 'Account',
      newitem: {
        name: ''
      },
      currentUser: this.auth.currentUser
    }
  },
  props: {
    database: Object,
    auth: Object
  },
  methods: {
    addItem () {
      this.$firebaseRefs.items.push({
        name: this.newitem.name
      })
      this.newitem.name = ''
    },
    removeItem (item) {
      this.$firebaseRefs.items.child(item['.key']).remove()
    }
  },
  firebase () {
    return {
      items: this.database.ref('users/' + this.currentUser.uid + '/items')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
