<template>
  <v-scale-transition>
    <v-container>
      <h1 class="blog__title">{{ article.title }}</h1>
      <router-link to="/blog">Wróć do bloga</router-link>
      <hr/>
      <div class="article__body" v-html="article.body"></div>
    </v-container>
  </v-scale-transition>
</template>

<script>
  export default {
    name: 'Article',
    metaInfo () {
      return {
        title: this.article.title
      }
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        article: require(`../posts/${this.id}.md`) // eslint-disable-line global-require, import/no-dynamic-require
      }
    }
  }
</script>

<style lang="scss">
  @import '../assets/highlight_theme.css';

  .article__body {
    text-align: left;
  }
</style>
