<template>
  <v-layout>
    <v-btn
      icon
      flat
      @click.stop="dialog = true"
      class="my-2"
    >
      <v-icon>exit_to_app</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      max-width="320"
      lazy
    ><!--lazy prop fixes not active tab slider at start-->
      <v-tabs
        fixed-tabs
        v-model="tabs"
        centered
      >
        <v-tab ripple>
          Zaloguj
        </v-tab>
        <v-tab ripple>
          Nowe konto
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tabs" >
        <v-tab-item>
          <Login :auth="auth"/>
        </v-tab-item>
        <v-tab-item>
          <Signup :auth="auth"/>
        </v-tab-item>
      </v-tabs-items>
    </v-dialog>
  </v-layout>
</template>

<script>
import Login from '@/components/Login'
import Signup from '@/components/Signup'

export default {
  name: 'AuthDialog',
  data () {
    return {
      tabs: null,
      dialog: false
    }
  },
  props: {
    auth: Object,
    right: Object
  },
  components: {
    Login,
    Signup
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
