<template>
  <v-scale-transition>
    <v-container>
      <h1>Blog</h1>
      <v-container
        grid-list-xl
        fluid
        class="pa-0"
      >
        <v-layout row wrap>
          <v-flex xs12 sm6 xl4
            v-for="article in articles"
            :key="article.slug"
            tag="article"
          >
            <v-card>
              <v-card-title>
                <h2>{{ article.title }}</h2>
              </v-card-title>
              <v-card-text
                class="mb-5"
              >
                <p>{{article.description}}</p>
              </v-card-text>
              <v-btn icon absolute flat :to="`/blog/${ article.slug }`">
                <v-icon>arrow_forward_ios</v-icon>
              </v-btn>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-scale-transition>
</template>

<script>
const posts = {}
const req = require.context('../posts/', false, /\.md$/)

req.keys().forEach((key) => {
  posts[key] = req(key)
})

export default {
  name: 'blog',
  metaInfo: {
    title: 'Blog'
  },
  computed: {
    articles () {
      const articleArray = []

      Object.keys(posts).forEach((key) => {
        const article = posts[key]
        article.slug = key.replace('./', '').replace('.md', '')
        articleArray.push(article)
      })

      return articleArray
      // .filter(post => post.status === 'publish')
      // .sort((a, b) => a.created < b.created);
    }
  }
}
</script>

<style>
.v-card {
  height:100%;
}
.v-btn{
  right:0;
  bottom:0;
}
</style>
