<template>
  <v-scale-transition>
    <v-layout row wrap>
      <v-flex md6 sm12>
        <calendar :events="events" />
      </v-flex>
      <v-flex md6 sm12>
        <h3 class="title ma-4">
          Dodaj wydarzenie
        </h3>
        <event-form :database="database"/>
      </v-flex>
    </v-layout>
  </v-scale-transition>
</template>

<script>
import Calendar from './Calendar.vue'
import EventForm from './EventForm.vue'
export default {
  name: 'CalendarMain',
  components: {
    Calendar,
    EventForm
  },
  props: {
    database: Object
  },
  firebase () {
    return {
      events: this.database.ref('events')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
