<template>
  <v-form @submit.prevent="handleSubmit">
    <v-text-field
      label="Nazwa wydarzenia"
      outline
      v-model="event.title"
      class="mx-4"
    />
    <v-layout row class="mb-4 mx-4">
      <v-flex xs5>
        <v-menu
          ref="datePickerStart"
          :close-on-content-click="false"
          v-model="datePickerStart"
          :return-value.sync="event.start"
          lazy
          transition="scale-transition"
          full-width
        >
          <v-text-field
            slot="activator"
            v-model="event.start"
            label="Początek"
            append-icon="event"
            readonly
          />
          <v-date-picker
            v-model="event.start"
            @input="$refs.datePickerStart.save(event.start)"
          />
        </v-menu>
      </v-flex>
      <v-spacer/>
      <v-flex xs5>
        <v-menu
          ref="datePickerEnd"
          :close-on-content-click="false"
          v-model="datePickerEnd"
          :return-value.sync="event.end"
          lazy
          transition="scale-transition"
          full-width
        >
          <v-text-field
            slot="activator"
            v-model="event.end"
            label="Koniec"
            append-icon="event"
            readonly
          />
          <v-date-picker
            v-model="event.end"
            @input="$refs.datePickerEnd.save(event.end)"
          />
        </v-menu>
      </v-flex>
    </v-layout>
    <v-textarea
      outline
      label="Opis"
      v-model="event.data.description"
      class="mx-4"
    />
    <color-picker @colorPicked="selectColor" :color="event.cssClass" />
    <div class="text-xs-center mt-5">
      <v-btn
        type="submit"
        color="primary mb-5"
        large
      >
        Zaplanuj
      </v-btn>
    </div>
  </v-form>
</template>

<script>
    import DatePicker from 'vuejs-datepicker'
    import format from 'date-fns/format'
    import ColorPicker from './ColorPicker'

    export default {
      name: 'EventForm',
      data () {
        return {
          datePickerStart: false,
          event: {
            title: '',
            start: '',
            end: '',
            cssClass: '',
            data: {
              description: ''
            }
          }
        }
      },
      props: {
        database: Object
      },
      methods: {
        handleSubmit () {
          const start = format(this.event.start, 'YYYY-MM-DD')
          const end = format(this.event.end, 'YYYY-MM-DD')
          const event = {
            ...this.event,
            start,
            end
          }
          this.$firebaseRefs.events.push(event)
          this.resetValues()
        },
        selectColor (color) {
          this.event = {
            ...this.event,
            cssClass: color
          }
        },
        resetValues () {
          this.event = {
            title: '',
            start: '',
            end: '',
            cssClass: '',
            data: {
              description: ''
            }
          }
        }
      },
      firebase () {
        return {
          events: this.database.ref('events')
        }
      },
      components: {
        DatePicker,
        ColorPicker
      }
    }
    </script>

    <style>

    </style>
