<template>
  <v-scale-transition>
    <v-container>
      <h1>{{ msg }}</h1>
      <div v-masonry transition-duration="0.3s" item-selector=".item" gutter="#gutter" column-width="#width" fit-width="true">
        <div id="gutter"></div>
        <div id="width"></div>
        <div v-masonry-tile class="item" v-for="(item, index) in blocks">
          <img :src="item.img" />
        </div>
      </div>
    </v-container>
  </v-scale-transition>
</template>

<script>
/* import axios from 'axios' */

export default {
  name: 'Galeria',
  metaInfo: {
    title: 'Galeria'
  },
  data () {
    return {
      msg: 'Galeria',
      blocks: [
        { img: 'https://picsum.photos/200/300?image=0' },
        { img: 'https://picsum.photos/200/300?image=1' },
        { img: 'https://picsum.photos/200/300?image=2' },
        { img: 'https://picsum.photos/410/200?image=3' },
        { img: 'https://picsum.photos/200/300?image=4' },
        { img: 'https://picsum.photos/200/300?image=5' },
        { img: 'https://picsum.photos/200/300?image=6' },
        { img: 'https://picsum.photos/200/300?image=7' },
        { img: 'https://picsum.photos/200/300?image=8' },
        { img: 'https://picsum.photos/200/300?image=9' },
        { img: 'https://picsum.photos/200/300?image=10' },
        { img: 'https://picsum.photos/200/300?image=11' },
        { img: 'https://picsum.photos/200/300?image=12' },
        { img: 'https://picsum.photos/200/300?image=13' },
        { img: 'https://picsum.photos/200/300?image=14' },
        { img: 'https://picsum.photos/200/300?image=15' },
        { img: 'https://picsum.photos/200/300?image=16' },
        { img: 'https://picsum.photos/200/300?image=17' }
      ]/* ,
      info: null */
    }
  }/* ,
    mounted () {
    axios
      .get('https://picsum.photos/list')
      .then(response => (this.info = response))
  } */
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#gutter{
  width:10px;
}
#width {
  width:200px;
}
</style>
