<template>
  <v-card>
    <v-card-text>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required />
        <v-text-field v-model="password" :type="'password'" label="Hasło" required />
        <v-btn :disabled="!valid" @click="login">
          Zaloguj
        </v-btn>
        <v-btn @click="logout">logout</v-btn>
      </v-form>
      <v-alert :value="alert" type="success" transition="scale-transition">
        {{ alertMessage }}
      </v-alert>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  name: 'Login',
  data () {
    return {
      msg: 'Login',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      valid: true,
      password: '',
      alert: false,
      alertMessage: 'Wrong credentials'
    }
  },
  props: {
    auth: Object
  },
  methods: {
    login () {
      this.auth.signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.alertMessage = 'Logged in'
            this.alert = true
            this.$router.push('Account')
          },
          err => {
            this.alert = true
            this.alertMessage = 'Oops...' + err.message
          }
        )
    },
    logout () {
      this.auth.signOut().then(() => {
        this.$router.replace('Hello')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
