<template>
  <layout align-center>
    <div class="tr triangles">
      <div class="tr tr2"></div>
      <div class="tr tr1"></div>
      <div class="tr tr6"></div>
      <div class="tr tr3"></div>
      <div class="tr tr4"></div>
      <div class="tr tr5"></div>
    </div>
  </layout>
</template>

<script>
export default {
  name: 'logo'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.tr {
    position: absolute;
    width: 0;
    height: 0;
}
.triangles{
  animation: turn 2s linear forwards;
  transform: rotateX(180deg);
  top:160px;
}
.tr1{
    top: 0;
    left: 0;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-bottom: 180px solid #41b883;
}
.tr2{
    animation: goright70 .5s linear forwards 2.5s;
    left: 0px;
    top: 0px;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-bottom: 180px solid #3b8070;
}
.tr3 {
    left: 35px;
    top: 60px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid #35495e;
}
.tr4 {
    animation: goright175 .5s linear forwards 2.5s;
    top: 120px;
    left: 70px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #fff;
}
.tr5 {
    animation: goright105 .5s linear forwards 2.5s;
    top: 120px;
    left: 70px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #fff;
}
.tr6 {
    animation: goright105 .5s linear forwards 2.5s;
    left: 35px;
    top: 60px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid #35495e;
}
.tr7 {
    animation: goright140 .5s linear forwards 2.5s;
    top: 122px;
    left: 70px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 60px solid #fff;
}
@keyframes turn {
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    top:0;
  }
}
@keyframes godown {
  to {
    top: 180px;
  }
}
@keyframes goright70 {
  to {
    left: 70px;
  }
}
@keyframes goright105 {
  to {
    left: 105px;
  }
}
@keyframes goright140 {
  to {
    left: 140px;
  }
}

@keyframes goright175 {
  to {
    left: 175px;
  }
}
</style>
