<template>
  <v-card>
    <v-card-text>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required ></v-text-field>
        <v-text-field v-model="password" :type="'password'" label="Hasło" required ></v-text-field>
        <v-btn :disabled="!valid" @click="signUp">
          Stwórz
        </v-btn>
        <v-btn @click="clear">Wyczyść</v-btn>
      </v-form>
      <v-alert :value="alert" type="success" transition="scale-transition">
        {{ alertMessage }}
      </v-alert>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'Signup',
  data () {
    return {
      msg: 'Sign up',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      valid: true,
      password: '',
      alert: false,
      alertMessage: 'Your account has been created',
      dialog: false
    }
  },
  props: {
    auth: Object
  },
  methods: {
    signUp () {
      this.auth.createUserWithEmailAndPassword(this.email, this.password).then(
        user => {
          this.alert = true
          this.email = ''
          this.password = ''
        },
        err => {
          this.alert = true
          this.alertMessage = 'Oops...' + err.message
        }
      )
    },
    clear () {
      this.email = ''
      this.password = ''
      this.valid = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
