<template>
    <v-app>
      <my-header :ui="ui" :auth="auth"/>
      <!--<v-navigation-drawer
        v-model="drawer"
        fixed
        app
        clipped
      >
        <v-list
          v-if="this.auth.currentUser"
          class="mt-3"
          dense
        >
          <v-list-tile avatar >
            <v-list-tile-avatar>
              <img src="static/img/misiejuk_pic.jpg" >
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title class="ml-2 body-2">{{ this.auth.currentUser.email }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn flat @click="logout">Logout</v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <divider />
        </v-list>
        <v-list>
          <template v-for="(item, i) in mainMenu">
            <v-list-tile
              :key="i"
              :to="item.path"
            >
              <v-list-tile-action class="ml-2">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="grey--text">
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar app fixed clipped-left>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>
          <v-btn flat to="/">
            Misiejuk websites
          </v-btn>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <AuthDialog :auth="auth" :right="right"/>
        </v-toolbar-items>
      </v-toolbar>-->
      <v-content>
        <router-view :database="database" :auth="auth" />
<!--  <v-footer app>
      </v-footer>-->
      </v-content>
    </v-app>
</template>

<script>
import AuthDialog from '@/components/AuthDialog'
import MyHeader from '@/components/MyHeader'

export default {
  name: 'app',
  metaInfo: {
    title: 'Misiejuk websites',
    titleTemplate: '%s | Misiejuk websites'
  },
  components: {
    AuthDialog,
    MyHeader
  },
  props: {
    database: Object,
    auth: Object,
    ui: Object
  },
  data () {
    return {
      drawer: null,
      mainMenu: [
        /* { divider: true },
        { heading: 'Labels' },
        { icon: 'add', text: 'Create new label' }, */
        {
          text: 'Blog',
          icon: 'chrome_reader_mode',
          path: '/blog'
        },
        {
          text: 'O mnie',
          icon: 'accessibility',
          path: '/about'
        },
        {
          text: 'Gallery',
          icon: 'collections',
          path: '/gallery'
        },
        {
          text: 'Account',
          icon: 'account_circle',
          path: '/account'
        },
        {
          text: 'Calendar',
          icon: 'date_range',
          path: '/calendar'
        }
      ]
    }
  },
  methods: {
    logout () {
      this.auth.signOut().then(() => {
        this.$router.replace('Hello')
        this.drawer = !this.drawer
      })
    }
  }
}
</script>

<style>
.v-overlay {
  top:64px;
}
@media (max-width:959px) {
  .v-overlay {
    top:48px;
  }
}
@media (orientation:portrait) {
  .v-overlay {
    top:56px;
  }
}

</style>
